body{
    margin: 0px;
    padding: 0px;
    background-image: url(bg.jpg);
}
.login{
    width:300px;
    padding: 30px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgb(159, 44, 44);
    text-align: center;
}

